@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Ubuntu:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
h1,h2,h3,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding-left: 0;
}
button{
    display: inline-block;
    border: none;
    color: inherit;
    cursor: pointer;
}
input{
    outline: none;
    color: inherit;
    font-family: inherit;
}